#
# Basic pins on the olimex board
#
set_io --warn-no-port EXTCLK   15
set_io --warn-no-port P0 41    #BUT1  41
set_io --warn-no-port P1 42    #BUT2  42
set_io --warn-no-port P2 40    #LED1  40
set_io --warn-no-port P3 51    #LED2  51

#
# Pins for SRAM on the olimex board
#
set_io --warn-no-port P4 74   #RAMOE 74
set_io --warn-no-port P5 73   #RAMWE 73
set_io --warn-no-port P6 78   #RAMCS 78
#
set_io --warn-no-port P7 62   #DAT[0] 62
set_io --warn-no-port P8 63   #DAT[1] 63
set_io --warn-no-port P9 64   #DAT[2] 64
set_io --warn-no-port P10 65   #DAT[3] 65
set_io --warn-no-port P11 66   #DAT[4] 66
set_io --warn-no-port P12 68   #DAT[5] 68
set_io --warn-no-port P13 69   #DAT[6] 69
set_io --warn-no-port P14 71   #DAT[7] 71
set_io --warn-no-port P15 72   #DAT[8] 72
set_io --warn-no-port P16 60   #DAT[9] 60
set_io --warn-no-port P17 59   #DAT[10] 59
set_io --warn-no-port P18 57   #DAT[11] 57
set_io --warn-no-port P19 56   #DAT[12] 56
set_io --warn-no-port P20 54   #DAT[13] 54
set_io --warn-no-port P21 53   #DAT[14] 53
set_io --warn-no-port P22 52   #DAT[15] 52
#
set_io --warn-no-port P23 79  #ADR[ 0] 79
set_io --warn-no-port P24 80  #ADR[ 1] 80
set_io --warn-no-port P25 81  #ADR[ 2] 81
set_io --warn-no-port P26 82  #ADR[ 3] 82
set_io --warn-no-port P27 83  #ADR[ 4] 83
set_io --warn-no-port P28 85  #ADR[ 5] 85
set_io --warn-no-port P29 86  #ADR[ 6] 86
set_io --warn-no-port P30 87  #ADR[ 7] 87
set_io --warn-no-port P31 89  #ADR[ 8] 89
set_io --warn-no-port P32 90  #ADR[ 9] 90
set_io --warn-no-port P33 91  #ADR[10] 91
set_io --warn-no-port P34 93  #ADR[11] 93
set_io --warn-no-port P35 94  #ADR[12] 94
set_io --warn-no-port P36 95  #ADR[13] 95
set_io --warn-no-port P37 96  #ADR[14] 96
set_io --warn-no-port P38 97  #ADR[15] 97
set_io --warn-no-port P39 99  #ADR[16] 99
set_io --warn-no-port P40 100 #ADR[17] 100

#
# Expansion header on the olimex board
#
#                     PIN1                  # +5V
#                     PIN2                  # GND
#                     PIN3                  # +3v3
#                     PIN4                  # GND
set_io --warn-no-port P41 1               # 3_1A
#                     PIN6                  # EXTCLK
set_io --warn-no-port P42 2               # 3_1B
#                     PIN8                  # GND
set_io --warn-no-port P43 3               # 3_2A
#                     PIN10                 # LED1
set_io --warn-no-port P44 4               # 3_2B
#                     PIN12                 # LED2
set_io --warn-no-port P45 7               # 3_3A
set_io --warn-no-port P46 37              # 2_9/TxD
set_io --warn-no-port P47 8               # 3_3B
set_io --warn-no-port P48 36              # 2_8/RxD
set_io --warn-no-port P49 9               # 3_5A
set_io --warn-no-port P50 34              # 2_7
set_io --warn-no-port P51 10              # 3_5B
set_io --warn-no-port P52 33              # 2_6
set_io --warn-no-port P53 12              # 3_6A
set_io --warn-no-port P54 30              # 2_5
set_io --warn-no-port P55 13              # 3_6B
set_io --warn-no-port P56 29              # 2_4
set_io --warn-no-port P57 16              # 3_7B
set_io --warn-no-port P58 28              # 2_3
set_io --warn-no-port P59 18              # 3_8A
set_io --warn-no-port P60 27              # 2_2
set_io --warn-no-port P61 19              # 3_8B
set_io --warn-no-port P62 26              # 2_1
set_io --warn-no-port P63 20              # 3_10A
set_io --warn-no-port P64 25              # 3_12B
set_io --warn-no-port P65 21              # 3_10B
set_io --warn-no-port P66 24              # 3_12A
set_io --warn-no-port TX 45               # IOB_45_SDO SPI
set_io --warn-no-port RX 46               # IOB_46_SDI SPI

