#
# Built-in on the Olimex PCB
#
set_io EXTCLK  15
set_io nBUT1   41
set_io nBUT2   42
set_io LED1    40
set_io LED2    51

#
# Connected to Panel PCB
#
set_io RxD     36          # 2_8/RxD
set_io TxD     37          # 2_9/TxD
set_io GREEN1  27          # 2_2
set_io GREEN2  28          # 2_3
set_io RED1    29          # 2_4
set_io RED2    30          # 2_5
set_io YELLOW1 33          # 2_6
set_io YELLOW2 34          # 2_7
set_io PLED1   26          # 2_1
set_io PLED2   25          # 3_12B
set_io PLED3   24          # 3_12A
set_io PLED4   19          # 3_8B
set_io PLED5   20          # 3_10A
set_io PLED6   21          # 3_10B
set_io SW1     13          # 3_6B
set_io SW2     16          # 3_7B
set_io SW3     18          # 3_8A


#
# Pins for SRAM on the olimex board
#
set_io --warn-no-port DAT[0] 62
set_io --warn-no-port DAT[1] 63
set_io --warn-no-port DAT[2] 64
set_io --warn-no-port DAT[3] 65
set_io --warn-no-port DAT[4] 66
set_io --warn-no-port DAT[5] 68
set_io --warn-no-port DAT[6] 69
set_io --warn-no-port DAT[7] 71
set_io --warn-no-port DAT[8] 72
set_io --warn-no-port DAT[9] 60
set_io --warn-no-port DAT[10] 59
set_io --warn-no-port DAT[11] 57
set_io --warn-no-port DAT[12] 56
set_io --warn-no-port DAT[13] 54
set_io --warn-no-port DAT[14] 53
set_io --warn-no-port DAT[15] 52

set_io --warn-no-port ADR[0] 79
set_io --warn-no-port ADR[1] 80
set_io --warn-no-port ADR[2] 81
set_io --warn-no-port ADR[3] 82
set_io --warn-no-port ADR[4] 83
set_io --warn-no-port ADR[5] 85
set_io --warn-no-port ADR[6] 86
set_io --warn-no-port ADR[7] 87
set_io --warn-no-port ADR[8] 89
set_io --warn-no-port ADR[9] 90
set_io --warn-no-port ADR[10] 91
set_io --warn-no-port ADR[11] 93
set_io --warn-no-port ADR[12] 94
set_io --warn-no-port ADR[13] 95
set_io --warn-no-port ADR[14] 96
set_io --warn-no-port ADR[15] 97
set_io --warn-no-port ADR[16] 99
set_io --warn-no-port ADR[17] 100

set_io --warn-no-port RAMOE 74
set_io --warn-no-port RAMWE 73
set_io --warn-no-port RAMCS 78

#
# Expansion header on the olimex board
#
#                     PIN1                  # +5V
#                     PIN2                  # GND
#                     PIN3                  # +3v3
#                     PIN4                  # GND
set_io -nowarn  P41 1               # 3_1A
#                     PIN6                  # EXTCLK
set_io -nowarn  P42 2               # 3_1B
#                     PIN8                  # GND
set_io -nowarn  P43 3               # 3_2A
#                     PIN10                 # LED1
set_io -nowarn  P44 4               # 3_2B
#                     PIN12                 # LED2
set_io -nowarn  P45 7               # 3_3A
set_io -nowarn  P47 8               # 3_3B
set_io -nowarn  P49 9               # 3_5A
set_io -nowarn  P51 10              # 3_5B
set_io -nowarn  P53 12              # 3_6A
set_io -nowarn  SPISDO 45           # IOB_45_SDO SPI
set_io -nowarn  SPISDI 46           # IOB_46_SDI SPI



